<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  
  <servlet>
      <servlet-name>LogsServlet</servlet-name>
      <servlet-class>nz.ac.wgtn.swen301.resthome4logs.server.LogsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>LogsServlet</servlet-name>
      <url-pattern>/logs</url-pattern>
  </servlet-mapping>
</web-app>
